---
import Layout from '@layouts/Layout.astro'
import type { MarkdownLayoutProps } from 'astro'
import { initLightbox } from '../utils/initLightbox';

type Props = MarkdownLayoutProps<{
  title: string
  description?: string
}>

const { frontmatter } = Astro.props
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <div class="max-w-full py-7.5">
    <h1 class="mb-3 text-[1.75rem] text-[var(--theme-h1)] font-semibold">
      # {frontmatter.title}
    </h1>
    <div class="mb-5 prose">
      <slot />
    </div>
  </div>
</Layout>

<script type="module">
  import { initLightbox } from '../utils/initLightbox';
  console.log('MarkdownLayout.astro script loaded.'); // デバッグ用ログ
  document.addEventListener('DOMContentLoaded', () => {
    console.log('DOMContentLoaded fired.'); // デバッグ用ログ
    initLightbox();
  });
</script>
